<!doctype html>
<html ng-app="todoApp">
  <head>
    <link rel="stylesheet" type="text/css" href="src/todoList/todoList.css">
    <script src="src/lib/angular.js"></script>
    <!-- 这里为什么不能加 async 和 defer -->
    <script src="src/todoList/todoList.js"></script>
  </head>
  <body>
    <div id="wrap">
      <h2>Todo</h2>
      <div id="main-wrap" ng-controller="todoListControler as todoList">
        <ul>
          <li ng-repeat="todo in todoList.todos">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </li>
        </ul>
        <span></span>
        <form ng-submit="todoList.addTodo()">
          <input type="text" ng-model="todoList.newTodoText" placeholder="write your todo here"/>
          <input class="btn-primary" type="submit" value="add">
        </form>
      </div>
    </div>

  </body>
</html>